
#web-content {
    text-align: center;
}

#wheelDisplay {

}

#foodwheel {
    
}

.wheel {
  width: 100%;
    height: 100%;
}

#indictor {
    position:absolute;
    right: 0;
    top: 60%;
    width: 10%;
}

#result{
    font-size: 22px;
    font-family: sans-serif;
}


