
#web-content {
    text-align: center;
}

#wheelDisplay {
    position: absolute;
    left: 10%;
    right: 10%;
}

#foodwheel {
    
}

.wheel {
  width: 100%;
    height: 100%;
}

#indictor {
    position:absolute;
    right: 0;
    top: 0;
    width: 10%;
    margin-top: 45%;
}

#result{
    font-size: 22px;
    font-family: sans-serif;
}


