#notification {
    display: none;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ff0;
    opacity: 0.9;
    border: 1px solid lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 1px 2px 1px black;
    font-size: 22px;
    color: rebeccapurple;
}

#logo {
    width: 60px;
}

#logobottom {
    width: 20px;
}

#login {
    padding-left: 20%;
    padding-right: 20%;
}


#floating-top {
    position: absolute;
    left: 70%;
    top: 10px;
}

.showborder {
    border: 2px solid red;
}

.appicon {
    padding: 25px;
    font-size: 1.3em;
}

.icon {
    width: 100%;
}

#apptitle {
    font-size: 22px;
    font-weight: 600;
}